## Data Structures

### List

In [1]:
#it is declared using []
a=[]
type(a)

list

In [6]:
a=['raj','seldon']
a[1]

'seldon'

In [7]:
b=['penny','Jenifer']

In [8]:
c=[a,b]

In [9]:
c

[['raj', 'seldon'], ['penny', 'Jenifer']]

In [10]:
male=c[0]

In [11]:
male

['raj', 'seldon']

In [14]:
female=c[1]

In [15]:
female

['penny', 'Jenifer']

In [16]:
c[0][1]

'seldon'

### Slicing

In [17]:
num = [0,1,2,3,4,5,6,7,8,9]

In [18]:
print num[0:11]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
print num[1:9:2]

[1, 3, 5, 7]

### Built in functions

In [21]:
len(num)

10

In [22]:
min(num)

0

In [23]:
max(num)

9

In [25]:
#list can be concatenated using +
num=[1,2,3] + [5,4,7]

In [26]:
8 in num

False

In [27]:
num.append(1)

In [28]:
num

[1, 2, 3, 5, 4, 7, 1]

## Tuples

In [30]:
a=()

In [31]:
a.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
#it can be directly done by placing comma in the end
a=27,

In [34]:
type(a)

tuple

In [38]:
a=(10,20,30,40,50)

In [39]:
#slicing
a[0:3]

(10, 20, 30)

In [41]:
2*(22,)

(22, 22)

In [42]:
tup=tuple([1,2,34])

In [43]:
tup

(1, 2, 34)

In [ ]:
tupl=

## Sets

In [44]:
#Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.
#Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elmnts

set1 = set()
print type(set1)

<type 'set'>

In [45]:
set0 = set([1,2,2,3,3,4])
print set0

set([1, 2, 3, 4])

### Built-in Functions

In [46]:
set1 = set([1,2,3])

In [47]:
set2 = set([2,3,4,5])

In [48]:
#union( ) function returns a set which contains all the elements of both the sets without repition.
set1.union(set2)

{1, 2, 3, 4, 5}

In [49]:
add( ) will add a particular element into the set. Note that the index of the newly 
#added element is arbitrary and can be placed anywhere not 
#neccessarily in the end.
set1.add(0)
set1

{0, 1, 2, 3}

In [50]:
#intersection( ) function outputs a set which contains all the elements that are in both sets.
set1.intersection(set2)

{2, 3}

In [51]:
#difference( ) function ouptuts a set which contains elements that are in set1 and not in set2.
set1.difference(set2)

{0, 1}

## Dictionary

In [52]:
#To define a dictionary, equate a variable to { } or dict()
d0 = {}
d1 = dict()
print type(d0), type(d1)

<type 'dict'> <type 'dict'>

In [53]:
d1={'name':'Cognizant','age':'25'}

In [54]:
d1['name']

'Cognizant'